canvas {
    width: 100%;
    border: 2px solid black;
}
.headWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.leftWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.explainWrapper {
    display: flex;
    flex-direction: column;
}
#reGame {
    margin-left: 20px;
    width: 100px;
    height: 30px;
}